repos:
- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
  - id: black
- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: pytest -s -v
      language: system
      always_run: true
      pass_filenames: false
